.root{
    -fx-background-color: #dfe6e9;
    -fx-font-family: 'Helvetica';
}
.root *{
    -fx-background-color: #dfe6e9;
    -fx-font-family: 'Helvetica';
}

.label{
    -fx-text-fill: #7f8c8d;
    -fx-font-size: 13;
}

.selected{
    -fx-background-color: #34495e;
    -fx-padding: 0;
}

.rows{
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-color: #2c3e50;
    -fx-cursor: hand;
}

.natural-color{
    -fx-background-color: #3498db;
}

.base{
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-color: #2c3e50;
    -fx-background-color: #3498db;
    -fx-text-fill: #2c3e50;
}

.btnCamino{
    -fx-padding: 0 20px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btnAction{
    -fx-background-color: #7f8c8d;
    -fx-text-fill: #2c3e50;
    -fx-cursor: hand;
    -fx-border-radius: 0px;
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-border-color: #7f8c8d;
    -fx-font-size: 13;
}

.d-none{
    visibility: hidden;
}

.p-b{
    -fx-padding: 0 0 30 0;
}