.selected{
    -fx-background-color: #bdc3c7;
}

.rows{
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-border-color: #bdc3c7;
    -fx-cursor: hand;
}

.natural-color{
    -fx-background-color: #3498db;
}

.base{
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-background-color: #bdc3c7;
}

.btnCamino{
    -fx-padding: 0 20px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.d-none{
    visibility: hidden;
}